.pole{
	position: absolute;
    left:500px;
	top:100px;
	width:606px;
	height: 606px;
	display:flex;
	flex-wrap: wrap;
}
					/*Čtverce*/
.square{
	width:200px ;
	height:200px ;
	border: 1px solid black;
	border-radius: 100px;
	background-color: 	saddlebrown;
	background-image: url(/res/img/Krtina.jpg);
	background-size: cover;
	box-shadow: 10px 10px 20px yellow;
}

#chyceno{
	font-family: 'Righteous', cursive;
	font-size: 50px;
}

#nadpis{
	font-family: 'Righteous', cursive;
	font-size: 50px; 
	text-shadow: 2px 2px 8px yellow;

}
.mole {					/*krtek*/
	background-image: url(/res/img/mole.jpg);
	background-size: cover;
}

.mole:hover{
	background-color: red;
}

body{					/*Tělo*/
	background-image: url(/res/img/MicrosoftTeams-image.png);
	background-size: cover;
}
#chyceno{
	color:red; 
	text-shadow : 2px 2px 8px red;
}
